<div class="main-page-wrapper">
    <!-- 
    =============================================
        Theme Header Two
    ============================================== 
    -->
      <!-- /.header-one -->

    
    <!-- 
    =============================================
        Theme Main Banner
    ============================================== 
    -->
    <section id="home-slider">

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <div class="slide" style=" width: 100%; position: relative;">
                <div style="background: url('../../../assets/images/slideshow/slider1.jpg');background-position: center;background-size: cover;height: 100vh;" >
                        <div class="container">
                            <div class="center-block-slider">
                                <p class="wow fadeInUp animated white">Nedda - Business Corporation</p>
                                <h1 style="position: relative; z-index: 99;" class="wow fadeInUp animated white" data-wow-delay="0.2s">LOREM IPSUM DOLOR <br>NEDDA CONCESTEUR</h1>
                                <!-- <a href="about.html" class="theme-button-one wow fadeInUp animated" data-wow-delay="0.39s">LOREM IPSUM</a> -->
                            </div>
                 
                        </div> <!-- /.container -->
                </div>
    
            </div>
            </ng-template>
    
    
           
        
          </owl-carousel-o>
   </section>
     
    
    
  
    <div class="our-solution section-spacing">
        <div class="container">
            <div class="theme-title-one py-5">
                <h2>Our Services</h2>
            </div> <!-- /.theme-title-one -->
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12 ">
                        <div class="single-solution-block serv">
                            <img src="../../../assets/images/icon/marketing-home.jpg" alt="" class="icon">
                            <h5><a href="service-details.html">Marketing of Homes</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                        </div> <!-- /.single-solution-block -->
                    </div> <!-- /.col- -->

                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="single-solution-block serv">
                            <img src="../../../assets/images/icon/pricing.jpg" alt="" class="icon">
                            <h5><a href="service-details.html">Pricing of Properties</a></h5>
                            <p>Duis convallis convallis tellus id interdum velit laoreet id donec. </p>
                        </div> <!-- /.single-solution-block -->
                    </div> <!-- /.col- -->

                
                    
                    

                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="single-solution-block serv">
                            <img src="../../../assets/images/icon/buying.jpg" alt="" class="icon">
                            <h5><a href="service-details.html">Buying a property</a></h5>
                            <p>Pharetra convallis posuere morbi leo urna molestie at.</p>
                        </div> <!-- /.single-solution-block -->
                    </div> <!-- /.col- -->

                </div> <!-- /.row -->
            </div> <!-- /.wrapper -->
        </div> <!-- /.container -->
    </div> <!-- /.our-solution -->


    <!-- 
    =============================================
        About Company Stye Two
    ============================================== 
    -->
    <div class="about-compnay-two section-spacing">
        <div class="overlay">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-7 col-12 text">
                        <div class="theme-title-one">
                            <h2>About Us</h2>
                        </div> <!-- /.theme-title-one -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p>A iaculis at erat pellentesque adipiscing commodo elit. Nunc mattis enim ut tellus elementum sagittis vitae. Habitasse platea dictumst quisque sagittis purus sit amet. </p>
                        <img src="images/signature.svg" alt="" class="sign">
                    </div> <!-- /.col- -->
                    <div class="col-lg-5 col-12">
                        <div class="quote-form">
                            <form action="#" class="theme-form-one">
                                <div class="row">
                                    <div class="col-md-6"><input type="text" placeholder="Name, Lastname *"></div>
                                    <div class="col-md-6"><input type="text" placeholder="Mobile Phone *"></div>
                                    <div class="col-md-12"><input type="email" placeholder="Email Address *"></div>
                                    
                                    <div class="col-12"><textarea placeholder="Your Message"></textarea></div>
                                </div> <!-- /.row -->
                                <button class="theme-button-one">Send</button>
                            </form>
                        </div> <!-- /.quote-form -->
                    </div>
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.overlay -->
    </div> <!-- /.about-compnay-two -->


    <!-- 
    =============================================
        Our Case
    ============================================== 
    -->
    <div class="our-case section-spacing">
        <div class="container">
            <div class="theme-title-one">
                <h2>Employees</h2>
                <p>Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. Lacus vel facilisis volutpat est velit.</p>
            </div> <!-- /.theme-title-one -->
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="single-case-block mx-auto">
                            <img src="../../../assets/images/our-cases/1.jpg" alt="">
                           <!-- /.hover-content -->
                        </div> <!-- /.single-case-block -->
                    </div> <!-- /.col- -->
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="single-case-block">
                            <img src="../../../assets/images/our-cases/2.jpg" alt="">
                            <!-- /.hover-content -->
                        </div> <!-- /.single-case-block -->
                    </div> <!-- /.col- -->
                 
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="single-case-block">
                            <img src="../../../assets/images/our-cases/4.jpg" alt="">
                         > <!-- /.hover-content -->
                        </div> <!-- /.single-case-block -->
                    </div> <!-- /.col- -->
                    
                    
                </div>                   <!-- /.row -->
            </div>                 <!-- /.wrapper -->
            <!-- <div class="view-all"><a href="#" class="theme-button-one">VIEW MORE</a></div> -->
        </div>                         <!-- /.container -->
    </div>                      <!-- /.our-case -->




  

    <!--
    =====================================================
        Footer
    =====================================================
    -->
    <!-- /.theme-footer-two -->
    

    

    <!-- Scroll Top Button -->
    <button class="scroll-top tran3s">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </button>
    



</div> <!-- /.main-page-wrapper -->