<div class="main-page-wrapper">

      
    <div class="our-solution section-spacing my-5">
        <div class="container">
            <div class="theme-title-one">
                <h2>Departments</h2>
            </div> <!-- /.theme-title-one -->
            <div class="wrapper">
                <div class="row">

                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="single-solution-block serv">
                            <img src="../../../assets/images/departments/sales.jpg" alt="" class="icon">
                            <h5><a href="service-details.html">Sales department</a></h5>
                            <p>This department is responsible for selling properties.</p>
                        </div> <!-- /.single-solution-block -->
                    </div> <!-- /.col- -->


                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="single-solution-block serv">
                            <img src="../../../assets/images/departments/research.jpg" alt="" class="icon">
                            <h5><a href="service-details.html">Research and analysis department</a></h5>
                            <p>This department conducts market research, analyzes trends.</p>
                        </div> <!-- /.single-solution-block -->
                    </div> <!-- /.col- -->

                   
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="single-solution-block serv">
                            <img src="../../../assets/images/departments/finance.jpg" alt="" class="icon">
                            <h5><a href="service-details.html">Finance and accounting department</a></h5>
                            <p>This department manages the company's financial .</p>
                        </div> <!-- /.single-solution-block -->
                    </div> <!-- /.col- -->

                   

             
                </div> <!-- /.row -->
            </div> <!-- /.wrapper -->
        </div> <!-- /.container -->
    </div> <!-- /.our-solution -->


   

  

    <!--
    =====================================================
        Footer
    =====================================================
    -->
    <!-- /.theme-footer-two -->
    

    <!-- Scroll Top Button -->
    <button class="scroll-top tran3s">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </button>
    



</div> <!-- /.main-page-wrapper -->